<!--[if lt IE 9]>
               <div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
               <![endif]-->
               <div class="preloader">
                <div class="preloader_image"></div>
             </div>
             <div class="col-sm-12 sign_in text-center margin-top-0" id="sign_in">
            

              <div class="col-sm-4 form-group padding-bottom-20 sign-in-form font-20 background-white" id="sign-in-form">
                <div class="col-sm-12 cross text-right cursor-pointer margin-top-0 padding-right-38" id="cut">
                <i class="fas fa-times text-right"></i>
                </div>

                <img class="width-60" src="images\horizontal2.png" alt="">
               <h3 class="margin-top-0">Welcome !</h3>
               <form action="dashboard.html">
                <input class="form-control sign-in-field border-color-black" type="email" name="username" placeholder="E-mail/Username" required />  <br>
                <input class="form-control sign-in-field border-color-black" type="password" name="password" placeholder="Password" id="pass" required />
                <span toggle="#pass" class="fa fa-fw fa-eye field-icon toggle-password color-black font-size-18 margin-right-5"></span>
                <div class="col-sm-12 text-right padding-top-6 padding-right-0 padding-top-0 font-14" id="forgot-password-button"><a class="forgot" href="#">Forgot Password ?</a></div>
                 <a href="dashboard.html"><button class="theme_button color1 wide_button padding10-30" id="signin_button">Sign in</button></a>
              </form>
             </div>
             <div class="col-sm-4 form-group forgot-password padding-bottom-20 sign-in-form padding-top-0 font-20 background-white" id="forgot-password-email">
                <div class="col-sm-12 cross text-right cursor-pointer margin-top-0 padding-right-38" id="cut">
                <i class="fas fa-times text-right"></i>
                </div>
               <h3 class="">Forgot Password</h3>
               <h6>Please enter your registered Email ID</h6>
               
                <input class="form-control sign-in-field border-color-black" type="email" name="username" placeholder="E-mail" required />  <br>
                 <a><button class="theme_button color1 wide_button padding10-30" id="forgot-password-email-button">Submit</button></a>
              
             </div>
             <div class="col-sm-4 form-group forgot-password padding-bottom-20 sign-in-form padding-top-0 font-20 background-white" id="forgot-password">
                <div class="col-sm-12 cross text-right cursor-pointer margin-top-0 padding-right-38" id="cut">
                <i class="fas fa-times text-right"></i>
                </div>
               <h3 class="">Forgot Password</h3>
               <h6>Please enter the OTP sent to your Email Id</h6>
               
                <input class="form-control sign-in-field" type="number" name="otp" placeholder="OTP" required /> 
                <div class="col-sm-12 text-right padding-top-6 padding-right-0 padding-top-0 font-14" id="forgot-password-button"><a class="forgot" href="#">Resend OTP</a></div>
                 <a href="change-password.html"><button class="theme_button color1 wide_button padding10-30" id="signin_button">Submit</button></a>
            
             </div>
          </div>      
          
             <!-- search modal -->
             <div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                <i class="rt-icon2-cross2"></i>
                </span>
                </button>
                <div class="widget widget_search">
                   <form method="get" class="searchform search-form form-inline" action="./">
                      <div class="form-group bottommargin_0">
                         <input type="text" value="" name="search" class="form-control" placeholder="Search keyword" id="modal-search-input">
                      </div>
                      <button type="submit" class="theme_button">Search</button>
                   </form>
                </div>
             </div>
             <!-- Unyson messages modal -->
             <div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
                <div class="fw-messages-wrap ls with_padding">
                </div>
             </div>
  <div id="canvas">
      <div id="box_wrapper">

          <!-- template sections -->

          <div class="preloader">
                <div class="preloader_image"></div>
             </div>

             <app-header></app-header>

                  

          <section class="ls columns_padding_25">
              <div class="container">
              <h1 class="text-center color-black">FAQ's</h1>
                  <div class="row vertical-tabs">
                      <div class="col-sm-5">

                          <!-- Nav tabs -->
                          <ul class="nav" role="tablist">
                              <li class="active">
                                  <a href="#vertical-tab1" role="tab" data-toggle="tab" class=" color-white">
                         
                         When is my next EMI due? How can I view my EMI Status?
                          </a>
                              </li>
                              <li>
                                  <a href="#vertical-tab2" role="tab" data-toggle="tab" class=" color-white">Justo duo dolores et ea rebum?</a>
                              </li>
                              <li>
                                  <a href="#vertical-tab3" role="tab" data-toggle="tab" class=" color-white">Stet clita kasd gubergren?</a>
                              </li>
                              <li>
                                  <a href="#vertical-tab4" role="tab" data-toggle="tab" class=" color-white">No sea takimata sanctus est?</a>
                              </li>
                              <li>
                                  <a href="#vertical-tab5" role="tab" data-toggle="tab" class=" color-white">At vero eos et accusam?</a>
                              </li>
                              <li>
                                  <a href="#vertical-tab6" role="tab" data-toggle="tab" class=" color-white">Justo duo dolores et ea rebum?</a>
                              </li>
                              <li>
                                  <a href="#vertical-tab7" role="tab" data-toggle="tab" class=" color-white">Stet clita kasd gubergren?</a>
                              </li>
                              <li>
                                  <a href="#vertical-tab8" role="tab" data-toggle="tab" class=" color-white">No sea takimata sanctus est?</a>
                              </li>
                          </ul>

                      </div>

                      <div class="col-sm-7">

                          <!-- Tab panes -->
                          <div class="tab-content no-border font-14">
                              <div class="tab-pane fade in active" id="vertical-tab1">
                                  <h3 class="poppins">When is my next EMI due? How can I view my EMI Status?</h3>
                                  <p>The EMI due date is 2nd or 5th of every month. To view your EMI Status, log in to the customer portal and from the homepage itself you will see your Active Loans. On the right there is a View Details button. Clicking on that will provide you detailed information of your loan account and you can Download your Account Statement, View Charges and Check your Repayment Schedule from here.<br>
Please ensure you maintain an adequate balance in your bank account a day prior to the due date. In the event of non-realization of EMI on due date, Bounce Charges will be applicable on the unpaid installment in addition to Late Payment Charges.</p>
                              </div>
                              <div class="tab-pane fade" id="vertical-tab2">
                                  <h3 class="poppins">Justo duo dolores et ea rebum?</h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit voluptate, quas fugit facere possimus facilis odio delectus laborum id nobis expedita vitae molestiae a. Magnam aliquid architecto magni, quos omnis.</p>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, enim saepe libero iure tenetur optio nisi aliquam molestias ratione magnam ab ut quod possimus hic suscipit doloremque, deleniti ipsa quia!</p>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quia, ad natus corrupti inventore mollitia, dolor omnis nesciunt, molestias officiis eum debitis dolore. Minima magnam odit cupiditate labore accusantium eaque!</p>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi minus tenetur sunt aspernatur vitae, corporis nostrum quibusdam molestias, laudantium quia in a natus facilis beatae culpa inventore quidem illo atque.</p>
                              </div>
                              <div class="tab-pane fade" id="vertical-tab3">
                                  <h3 class="poppins">Stet clita kasd gubergren?</h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque repellat, reiciendis sint officia quia iure nam! Dicta omnis ex ipsa fugiat maiores, vero expedita facilis, suscipit quam obcaecati veniam voluptate.</p>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis est, dolores, ex ducimus cumque iusto ipsam odit voluptatum autem error impedit obcaecati quisquam molestiae, optio porro inventore nostrum deleniti cupiditate.</p>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quia, ad natus corrupti inventore mollitia, dolor omnis nesciunt, molestias officiis eum debitis dolore. Minima magnam odit cupiditate labore accusantium eaque!</p>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi minus tenetur sunt aspernatur vitae, corporis nostrum quibusdam molestias, laudantium quia in a natus facilis beatae culpa inventore quidem illo atque.</p>
                              </div>
                              <div class="tab-pane fade" id="vertical-tab4">
                                  <h3 class="poppins">No sea takimata sanctus est?</h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium impedit asperiores illum nulla sint itaque laborum perferendis deleniti quo cumque, quisquam repudiandae molestias sunt ea delectus porro odio recusandae!</p>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus omnis quod eligendi mollitia vel optio neque id, assumenda! Quae at quisquam eum, dolorum ullam, maxime nesciunt ex modi minus illum!</p>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quia, ad natus corrupti inventore mollitia, dolor omnis nesciunt, molestias officiis eum debitis dolore. Minima magnam odit cupiditate labore accusantium eaque!</p>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi minus tenetur sunt aspernatur vitae, corporis nostrum quibusdam molestias, laudantium quia in a natus facilis beatae culpa inventore quidem illo atque.</p>
                              </div>
                              <div class="tab-pane fade" id="vertical-tab5">
                                  <h3 class="poppins">At vero eos et accusam?</h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quia, ad natus corrupti inventore mollitia, dolor omnis nesciunt, molestias officiis eum debitis dolore. Minima magnam odit cupiditate labore accusantium eaque!</p>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi minus tenetur sunt aspernatur vitae, corporis nostrum quibusdam molestias, laudantium quia in a natus facilis beatae culpa inventore quidem illo atque.</p>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quia, ad natus corrupti inventore mollitia, dolor omnis nesciunt, molestias officiis eum debitis dolore. Minima magnam odit cupiditate labore accusantium eaque!</p>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi minus tenetur sunt aspernatur vitae, corporis nostrum quibusdam molestias, laudantium quia in a natus facilis beatae culpa inventore quidem illo atque.</p>
                              </div>
                              <div class="tab-pane fade" id="vertical-tab6">
                                  <h3 class="poppins">Justo duo dolores et ea rebum?</h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit voluptate, quas fugit facere possimus facilis odio delectus laborum id nobis expedita vitae molestiae a. Magnam aliquid architecto magni, quos omnis.</p>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, enim saepe libero iure tenetur optio nisi aliquam molestias ratione magnam ab ut quod possimus hic suscipit doloremque, deleniti ipsa quia!</p>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quia, ad natus corrupti inventore mollitia, dolor omnis nesciunt, molestias officiis eum debitis dolore. Minima magnam odit cupiditate labore accusantium eaque!</p>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi minus tenetur sunt aspernatur vitae, corporis nostrum quibusdam molestias, laudantium quia in a natus facilis beatae culpa inventore quidem illo atque.</p>
                              </div>
                              <div class="tab-pane fade" id="vertical-tab7">
                                  <h3 class="poppins">Stet clita kasd gubergren?</h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque repellat, reiciendis sint officia quia iure nam! Dicta omnis ex ipsa fugiat maiores, vero expedita facilis, suscipit quam obcaecati veniam voluptate.</p>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis est, dolores, ex ducimus cumque iusto ipsam odit voluptatum autem error impedit obcaecati quisquam molestiae, optio porro inventore nostrum deleniti cupiditate.</p>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quia, ad natus corrupti inventore mollitia, dolor omnis nesciunt, molestias officiis eum debitis dolore. Minima magnam odit cupiditate labore accusantium eaque!</p>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi minus tenetur sunt aspernatur vitae, corporis nostrum quibusdam molestias, laudantium quia in a natus facilis beatae culpa inventore quidem illo atque.</p>
                              </div>
                              <div class="tab-pane fade" id="vertical-tab8">
                                  <h3 class="poppins">No sea takimata sanctus est?</h3>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium impedit asperiores illum nulla sint itaque laborum perferendis deleniti quo cumque, quisquam repudiandae molestias sunt ea delectus porro odio recusandae!</p>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus omnis quod eligendi mollitia vel optio neque id, assumenda! Quae at quisquam eum, dolorum ullam, maxime nesciunt ex modi minus illum!</p>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error quia, ad natus corrupti inventore mollitia, dolor omnis nesciunt, molestias officiis eum debitis dolore. Minima magnam odit cupiditate labore accusantium eaque!</p>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi minus tenetur sunt aspernatur vitae, corporis nostrum quibusdam molestias, laudantium quia in a natus facilis beatae culpa inventore quidem illo atque.</p>
                              </div>
                          </div>

                      </div>


                  </div>

              </div>
          </section>


          <app-footer></app-footer>

          
      </div>
      <!-- eof #box_wrapper -->
  </div>
  <!-- eof #canvas -->

     
