<footer class="page_footer ds section_padding_top_50 section_padding_bottom_65 columns_padding_25 table_section">
    <div class="container padding-0 padding-top-5">
     <div class="row font-14">
        <div class="col-md-4 col-sm-12 text-left">
           <div class="widget widget_text">
              <a href="index.htm" class="logo vertical_logo">
                 <img src="assets/images/horizontal1.png" class="max-width" alt="">
              </a>
    
              <p class="">Kombo Cash actively pursues its mission of supporting healthy and productive lifestyles for the community while teaching, enhancing, and connecting residents and youth to fresh produce and education about urban gardening.</p>
    
            
           </div>
        </div>
        <div class="col-md-4 col-sm-6 text-left">
           <div class="widget widget_text widget_media_margin">
              <h3 class="widget-title margin-bottom-21 color-blue-grey font-20">Explore</h3>
              <ul class="list1 no-bullets no-top-border no-bottom-border greylinks">
                 <li class="padding-top-5 padding-bottom-5 margin-bottom-0 margin-top-0">
                    <a href="#">About Us</a>
                 </li>
                 <li class="padding-top-5 padding-bottom-5 margin-bottom-0 margin-top-0">
                    <a href="#">Terms and Conditions</a>
                 </li>
                 <li class="padding-top-5 padding-bottom-5 margin-bottom-0 margin-top-0">
                    <a href="#">Cookie Policy</a>
                 </li>
                 <li class="padding-top-5 padding-bottom-5 margin-bottom-0 margin-top-0">
                    <a href="#">Privacy Policy</a>
                 </li>
              </ul>
           </div>
        </div>
        <div class="col-md-4 col-sm-6 left">
           <div class="widget widget_mailchimp widget_media_margin">
              <h3 class="widget-title margin-bottom-21 color-blue-grey font-20">Newsletter</h3>
                
    
           <ul class="list1 no-bullets no-top-border no-bottom-border">
    
              <li class="padding-0">
                 <div class="media">
                    <div class="media-left">
                       <i class="rt-icon2-shop highlight2 color-pink"></i>
                    </div>
                    <div class="media-body">
                       <!-- <h6 class="media-heading color-blue-grey">Postal Address:</h6> -->
                       PO Box 97845 Some str. 567, Los Angeles, California, United States
                    </div>
                 </div>
              </li>
              <li class="padding-0">
                 <div class="media">
                    <div class="media-left">
                       <i class="rt-icon2-phone5 highlight2 color-pink"></i>
                    </div>
                    <div class="media-body">
                       <!-- <h6 class="media-heading color-blue-grey">Phone:</h6> -->
                       8(800) 123-12345
                    </div>
                 </div>
              </li>
              <li class="padding-0">
                 <div class="media">
                    <div class="media-left">
                       <i class="rt-icon2-mail highlight2 color-pink"></i>
                    </div>
                    <div class="media-body greylinks">
                       <!-- <h6 class="media-heading color-blue-grey">Email:</h6> -->
                       <a href="mailto:your@mail.com">komboCash@example.com</a>
                    </div>
                 </div>
              </li>
           </ul>
           </div>
        </div>
     </div>
    </div>
    </footer>
           <section class="ds color page_copyright with_top_border_container">
              <div class="container">
                 <div class="row">
                    <div class="col-sm-12 text-center">
                       <p class="font-size-14">&copy; Copyright 2019 <span class="font-weight-900">Kombo Cash</span>. Made with <span style="color: red; font-size: 25px;">&hearts;</span> by <span class="font-weight-900" style="color: #b81f6f;">VAYUZ Technologies.</span></p>
                    </div>
                 </div>
              </div>
           </section>
