<app-header></app-header>
<div class="contianer" style="background-color:white; padding:40px">
    <form [formGroup]="loanForm" (submit)="submitLoanForm($event)">
       <div class="row m-4">
          <div class="col-md-6">
             <div class="form-group">
                <label for="eamilid">Email address</label>
                <input style="border: 1px solid black; border-radius:51px 51px 51px 51px" type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>                   
          </div>
          <div class="col-md-6">
             <div class="form-group">
                <label for="username">Username</label>
                <input style="border: 1px solid black; border-radius:51px 51px 51px 51px" type="text" formControlName="username" class="form-control" id="username" placeholder="Enter user name">
              </div>
          </div>

       </div>
       <div class="row m-4">
          <div class="col-md-6">
             <div class="form-group">
                <label for="phone">Phone</label>
                <input style="border: 1px solid black; border-radius:51px 51px 51px 51px" type="number" formControlName="number" class="form-control" id="phone" aria-describedby="phone" placeholder="Enter phone number">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
              </div>                   
          </div>
          <div class="col-md-6">
             <div class="form-group">
                <label for="borrowingfor">borrowing for</label>
                <input style="border: 1px solid black; border-radius:51px 51px 51px 51px" type="text" formControlName="for"  class="form-control" id="borrowingfor" placeholder="borrowingfor">
              </div>
          </div>

       </div>

       <div class="row m-4">
          <div class="col-md-6">
             <div class="form-group">
                <label for="adress">Address</label>
                <input style="border: 1px solid black; border-radius:51px 51px 51px 51px" type="text" formControlName="address" class="form-control" id="adress" aria-describedby="emailHelp" placeholder="Enter address">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
              </div>                   
          </div>
          <div class="col-md-6">
             <div class="form-group">
                <label for="location">Location</label>
                <input style="border: 1px solid black; border-radius:51px 51px 51px 51px" type="text" formControlName="location" class="form-control" id="location" placeholder="location">
              </div>
          </div>

       </div>

       <div class="row">
          <div class="col-md-6">
             <div class="form-group">
                <label for="location">amount</label>
                <input style="border: 1px solid black; border-radius:51px 51px 51px 51px" type="number" formControlName="amount" class="form-control" id="location" placeholder="amount">
              </div>

          </div>
       </div>

       <div class="row">
          <div class="col text-center">
             <button style="height:80px; width:400px; border-radius:51px 51px 51px 51px" type="submit" class="btn btn-primary btn-lg">Submit</button>
          </div>
          
       </div>
       
       
     </form>
    </div>

    <app-footer></app-footer>