   <!--[if lt IE 9]>
               <div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
               <![endif]-->
               <div class="preloader">
                <div class="preloader_image"></div>
             </div>
          
             
        


             <div id="canvas">
                <div id="box_wrapper">
                  
                    <app-headersignin></app-headersignin>


                   <div class="col-sm-12 background-white margin-bottom-0 margin-top-0">
                      <h1 class="text-center color-black">User Details</h1>
                      <div class="col-sm-5 text-right border-right-1 padding-0">
                         <div class="col-sm-6 col-sm-offset-3 small-12 medium-2 large-2 columns">
                              <div class="circle">
                                <!-- User Profile Image -->
                                <img class="profile-pic" src="">
                                <div class="p-image">
                                <i class="fa fa-camera upload-button"></i>
                                 <input class="file-upload" type="file" accept="image/*"/>
                              </div>
                                <!-- Default Image -->
                                <i class="fa fa-user fa-5x"></i>
                              </div>
                         </div>
                       </div>
                       <div class="col-sm-7 padding-15-70">
                           <h3 class="">John Doe</h3>
                               <div class="col-sm-6 profile">
                                  <!-- <p><span class="fas fa-signature">&nbsp;&nbsp;</span>Name </p>
                                  <label> John Doe </label> -->
                                  <p><span class="fas fa-envelope">&nbsp;&nbsp;</span>Email ID :</p>
                                  <label class="text-lowercase"> raghav.vayuz@gmail.com </label>
                                  <p><span class="fas fa-phone-alt">&nbsp;&nbsp;</span>Phone No</p>
                                  <label>8265817818</label>
                               </div>
                                <div class="col-sm-6 profile">
                                  <!-- <p><span class="fas fa-signature">&nbsp;&nbsp;</span>Name </p>
                                  <label> John Doe </label> -->
                                  <p><span class="fas fa-sign-in-alt">&nbsp;&nbsp;</span>Customer Since</p>
                                  <label class="text-lowercase"> 01-08-1998 </label>
                                  <!-- <p><span class="fas fa-phone">&nbsp;&nbsp;</span>Phone No</p>
                                  <label>8265817818</label> -->
                               </div>
                       </div>
                </div>
                <app-footersignin></app-footersignin>
                </div>
                <!-- eof #box_wrapper -->
             </div>
             <!-- eof #canvas -->
             
             