<!--[if lt IE 9]>
               <div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
               <![endif]-->
               <div class="preloader">
                <div class="preloader_image"></div>
             </div>
          
             
        


             <div id="canvas">
                <div id="box_wrapper">
                  
                    <app-headersignin></app-headersignin>







<section class="ls section_padding_100 columns_padding_25">

          <div class="container padding-0 padding-right-40">
             <h1 class="text-center color-black">Settings</h1>
             <div class="row vertical-tabs">
                <div class="col-sm-4">

                   <!-- Nav tabs -->
                   <ul class="nav" role="tablist">
                      <li class="active ">
                         <a href="#vertical-tab1" role="tab" data-toggle="tab" class="color-white font-size-14">
                         <span class="fas fa-car"></span>
                            &nbsp;Change Password
                          </a>
                      </li>
                      <li>
                         <a href="#vertical-tab2" role="tab" data-toggle="tab" class="color-white font-size-14"> <span class="fas fa-house-damage"></span>
                            &nbsp;Notification Management</a>
                      </li>
                       <li>
                         <a href="#vertical-tab3" role="tab" data-toggle="tab" class="color-white font-size-14"> <span class="fas fa-user-graduate"></span>
                            &nbsp;Delete Account</a>
                      </li>
                     <!-- <li>
                         <a href="#vertical-tab4" role="tab" data-toggle="tab" class="background-blue color-white font-size-18"> <span class="fas fa-notes-medical"></span>
                            &nbsp;Medical Fee loan</a>
                      </li>
                      <li>
                         <a href="#vertical-tab5" role="tab" data-toggle="tab" class="background-blue color-white font-size-18"> <span class="fas fa-landmark"></span>
                            &nbsp;Land loan</a>
                      </li>
                      <li>
                         <a href="#vertical-tab6" role="tab" data-toggle="tab" class="background-blue color-white font-size-18"> <span class="fas fa-business-time"></span>
                            &nbsp;Business loan</a>
                      </li> -->
                      <!-- <li>
                         <a href="#vertical-tab7" role="tab" data-toggle="tab" class="background-blue color-white">Stet clita kasd gubergren?</a>
                      </li>
                      <li>
                         <a href="#vertical-tab8" role="tab" data-toggle="tab" class="background-blue color-white">No sea takimata sanctus est?</a>
                      </li> -->
                   </ul>

                </div>

                <div class="col-sm-8 padding-0 margin-top-0">

                   
                   <div class="tab-content no-border font-14">
                      <div class="tab-pane fade in active" id="vertical-tab1">
                        <div class="col-sm-12 tab margin-top-0">
                            <div class="col-sm-12 border-1 padding-15 font-size-18">
                              
                               <h4 class="">Change Password</h4>

                               <form>
                                  <div class="form-group">
                                     <label class="col-md-4 control-label padding-top-12">Old Password</label>
                                      <div class="col-md-6">

                                       <input id="password-field" type="password" class="form-control sign-in-field" name="password">
                                       <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password margin-right-5"></span>
                                       
                                     </div>
                                     <label class="col-md-4 control-label padding-top-12">New Password</label>
                                     <div class="col-md-6">

                                       <input id="password-field" type="password" class="form-control sign-in-field" name="password">
                                       <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password margin-right-5"></span>
                                       <input type="submit" name="change-password-submit" class="change-password-submit padding-10">
                                     </div>
                                   </div>
                               </form>

                            </div>  
                            
                           

                         </div>
                        </div>
                      <div class="tab-pane fade" id="vertical-tab2">
                         <div class="col-sm-12  border-1 padding-15 font-size-18">
                              
                               <h4 class="">Manage Notifications</h4>

                               <form>
                                  <div class="form-group">
                                     <p class="col-md-7 font-size-18 text-right">Enable Notifications</p>
                                     <div class="col-md-5 margin-bottom-0 text-left">

                                       <input id="password-field" type="checkbox" class="text-left form-control enable-notification margin-top-0" name="password" data-toggle="toggle">


                                     </div>

                                   </div>
                               </form>
                            

                            </div>
                      </div>
                      <div class="tab-pane fade" id="vertical-tab3">
                          <div class="col-sm-12  border-1 padding-15 font-size-18">
                              
                               <h4 class="">Delete Account</h4>

                               <form>
                                  <div class="form-group">
                                     <div class="col-md-1 margin-bottom-0 text-left margin-top-10">

                                       <input id="" type="checkbox" class="form-control enable-notification margin-top-0" name="password" required/>

                                     </div>
                                     <p class="col-md-11 font-size-18 text-left padding-left0">I hereby, accept that I want to delete my account.</p>
                                     
                                     <input type="submit" name="delete-account-submit" class="text-right pull-right change-password-submit padding-10">
                                   </div>
                               </form>
                            

                            

                            </div>  

                      </div>
                      
                      
                      
                      
                      
                   </div>

                </div>


             </div>

          </div>
       </section>

       <app-footersignin></app-footersignin>
                </div>
                <!-- eof #box_wrapper -->
             </div>
             <!-- eof #canvas -->
             
             
