  <!--[if lt IE 9]>
               <div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
               <![endif]-->
               <div class="preloader" *ngIf="showSpinner">
                <div class="preloader_image"></div>
             </div>
          
             
        


             <div id="canvas">
                <div id="box_wrapper">
                  
                 <app-headersignin></app-headersignin>
                  <!--  <section class="page_breadcrumbs ds color parallax section_padding_top_75 section_padding_bottom_75">
          <div class="container">
             <div class="row">
                <div class="col-sm-12 text-center">
                   <h2 class="">Dashboard</h2>
                   
                </div>
             </div>
          </div>
       </section> -->
             <div class="col-sm-12 text-center font-30 background-white margin-bottom-0 margin-top-0">
                       <h3 class="text-left color-black padding-left-75 font-weight-400 padding-top-30">Welcome! John,</h3>
                     <!--  <div class="col-sm-12">
                         <h3 class="margin-top-0 font-weight-0">Need a Loan>></h3>
                      </div> -->
                      <div class="col-sm-12 padding-left-75">
                         <h3 class="margin-bottom-0 color-blue color-black text-left font-weight-300"><span class="font-weight-0"> <i class="far fa-hand-point-down font-weight-0 font-size-30"></i></span>&nbsp;Apply for a new loan</h3>
                      </div><!-- 
                      <div class="col-sm-12">
                         <h6 class="margin-top-0">Please Select Your Category>></h6>
                      </div> -->
                      <div class="col-sm-12 padding-right-40" >
                         <div *ngIf="clickIcon">
                           <div class="col-sm-2 border-right cursor-pointer" id="vehicle" *ngFor="let collection of collections" (click)="loanAmount(collection.category_name)" >
                              <a  class="amount-icon fas fa-car"></a>
                              <h6 class=""  style="font-size: 16px; font-weight: 700; line-height: 1.3; word-break: break-word; margin-top: 1.1em; margin-bottom: 0.8em; position: relative;">
                              {{collection.category_name}}
                           </h6>
                           </div>
                         </div>
                      
                      <!-- <div class="col-sm-2 border-right cursor-pointer" id="rent">
                         <a  class="amount-icon fas fa-house-damage" ></a>     
                         <h6 class="">
                         Rent
                      </h6>                      
                      </div>
                      <div class="col-sm-2 border-right cursor-pointer" id="student">
                         <a  class="amount-icon fas fa-user-graduate"></a> 
                         <h6 class="">
                         Student Fee
                      </h6>
                      </div>
                      <div class="col-sm-2 border-right cursor-pointer" id="medical">
                         <a  class="amount-icon fas fa-notes-medical" ></a> 
                         <h6 class="">
                         Medical Fee
                      </h6>
                      </div>
                      <div class="col-sm-2 border-right cursor-pointer" id="land">
                         <a  class="amount-icon fas fa-landmark"></a> 
                         <h6 class="">
                         Land
                      </h6>
                      </div>
                      <div class="col-sm-2 cursor-pointer" id="business">
                         <a  class="amount-icon fas fa-business-time"></a> 
                         <h6 class="">
                         Business
                      </h6>
                      </div> -->
                     <div *ngIf="displayIconAmount">
                        <div class="col-sm-2 border-right cursor-pointer" id="vehicle">
                           <a  class="amount-icon fas fa-car"></a>
                           <h6 class=""  style="font-size: 16px; font-weight: 700; line-height: 1.3; word-break: break-word; margin-top: 1.1em; margin-bottom: 0.8em; position: relative;">
                           {{displayName}}
                        </h6>
                        </div>
                        <div class="col-sm-10" id="amount">
                           <h5 class="col-sm-3 padding-top-45">Please Enter the Amount</h5>
                           <form class="col-sm-8">
                              <input type="number" class="amount-field pull-left margin-left-50" name="amount" placeholder="Amount">
                              <input type="submit" name="amount-submit" class="amount-submit padding10-30 margin-top-20 border-color-blue color-blue background-white border-radius-30">
                           </form>
                           <a class="col-sm-1 rt-icon2-cross2 padding-top-17" id="cross" (click)="closeButton()"></a> 
                        </div>        
                      </div> 
                      
                   
                   </div>
                   </div>


                  <div class="col-sm-12 padding-right-0 padding-left-0 margin-bottom-0 margin-top-0 background-white">
                     <h3 class="margin-bottom-0 color-blue font-weight-300 padding-15 margin-top-0 padding-left-98 padding-top-45"><span class="font-weight-0"> <i class="fas fa-history font-weight-0 font-size-30"></i></span>&nbsp;Loan History</h3>
                  </div>
                      
                     
                  
                   <div class="col-sm-12 background-white margin-top-0 margin-bottom-0 padding-right-100 padding-left-100  padding-bottom-50">
                   <table class="table table-striped background-white font-size-14 margin-top-0 border-table margin-bottom-0">
                     
                      <thead>
                         <tr class="color-table-header">
                            <th>ID</th>
                            <th>Category</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Installment</th>
                            <th>Next-Date</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr>
                            
                            <td>T46345244#</td>
                            <td>Vehicle</td>
                            <td>300000</td>
                            <td>Approved</td>
                            <td>30000</td>
                            <td>10/12/2019</td>
                         </tr>
                         <tr>
                            
                            <td>TR24456532#</td>
                            <td>Medical</td>
                            <td>9795551</td>
                            <td>Pending</td>
                            <td>79845</td>
                            <td>07/03/2020</td>
                         </tr>
                         <tr>
                            
                            <td>TR24456532#</td>
                            <td>Land</td>
                            <td>4584256</td>
                            <td>Approved</td>
                            <td>786523</td>
                            <td>06/11/2019</td>
                         </tr>
                      </tbody>
                   </table>
                </div>
                   
      

                  
                  
                   <app-footersignin></app-footersignin>
                </div>
                <!-- eof #box_wrapper -->
             </div>
             <!-- eof #canvas -->
             
             
