 <!--[if lt IE 9]>
      <div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div>
      <![endif]-->
      <div class="preloader">
        <div class="preloader_image"></div>
     </div>
     
     <div id="canvas">
     <div id="box_wrapper">
        <app-headersignin></app-headersignin>
        <section class="ls section_padding_100 columns_padding_25">
           <div class="container padding-0 padding-right-40">
              <h1 class="text-center">Loan History</h1>
              <div class="row vertical-tabs">
                 <div class="col-sm-4">
                    <!-- Nav tabs -->
                    <ul class="nav" role="tablist">
                       <li class="active ">
                          <a href="#vertical-tab1" role="tab" data-toggle="tab" class="color-white font-size-18">
                          <span class="fas fa-car"></span>
                          &nbsp;Vehicle Loan
                          </a>
                       </li>
                       <li>
                          <a href="#vertical-tab2" role="tab" data-toggle="tab" class="color-white font-size-18"> <span class="fas fa-house-damage"></span>
                          &nbsp;Rent</a>
                       </li>
                       
                    </ul>
                 </div>
                 <div class="col-sm-8 padding-0">
                    <!-- Tab panes -->
                    <div class="tab-content no-border font-14">
                       <div class="tab-pane fade in active" id="vertical-tab1">
                          <div class="panel-group" id="accordion1">
                             <div class="panel panel-default">
                                <div class="panel-heading box-shadow ">
                                   <h4 class="panel-title">
                                      <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1" class="collapsed font-size-16">
                                      
                                               <div>
                                               <span class="color-black ">Id: <span class="color-black">TWY63834802WD#</span></span>
                                               <span class="color-black float-right">Status: <span class="color-black">Confirmed</span></span>
                                            </div>
                                            <div class="padding-top-5">
                                                <span class="color-black ">Date: <span class="color-black">1 August, 2019</span></span>
                                               <span class="color-black float-right">Amount: <span class="color-black">$20,000</span></span>
                                            </div>
                                      </a>
                                   </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in padding-0-30">
                                   <div class="panel-body padding-bottom-5 ">
                                      <div class="col-sm-12 tab margin-top-0 padding-0 margin-bottom-0">
                                        
                                           
                                            <h4 class="col-sm-12 margin-bottom-0 font-size-18">Amount Details</h4>
                                            <div class="col-sm-4">
                                               <p><span class="fas fa-coins">&nbsp;&nbsp;</span>Total Amount </p>
                                               <label class="text-lowercase"><span class="fas fa-pound-sign"></span> 20,00,000 </label>
                                            </div>
                                            <div class="col-sm-4">
                                               <p><span class="fas fa-money-bill-wave">&nbsp;&nbsp;</span>Amount Payable </p>
                                               <label class="text-lowercase"><span class="fas fa-pound-sign"></span> 20,00,000 </label>
                                            </div>   
                                            <div class="col-sm-4">
                                               <p><span class="fas fa-sort-amount-up-alt">&nbsp;&nbsp;</span>Installment Amount </p>
                                               <label class="text-lowercase"><span class="fas fa-pound-sign"></span> 20,00,000 </label>
                                            </div>
                                             <h4 class="col-sm-12 margin-bottom-0 font-size-18 margin-top-0">Borrower Details</h4>
                                            <div class="col-sm-3">
                                               <p><span class="fas fa-signature">&nbsp;&nbsp;</span>Name </p>
                                               <label> John Doe </label>
                                            </div>   
                                            <div class="col-sm-5">   
                                               <p><span class="fas fa-envelope">&nbsp;&nbsp;</span>Email ID </p>
                                               <label class="text-lowercase"> raghav.vayuz@gmail.com </label>
                                            </div>
                                            <div class="col-sm-3">
                                               <p><span class="fas fa-phone-alt">&nbsp;&nbsp;</span>Phone No</p>
                                               <label>8265817818</label>
                                            </div>
                                            <h4 class="col-sm-12 margin-bottom-0 font-size-18 margin-top-0">Document Details</h4>
                                            <div class="col-sm-12 margin-bottom-0">
                                            <div class="col-sm-6 margin-bottom-0">
                                               <p><span class="fas fa-file-invoice-dollar">&nbsp;&nbsp;</span>Bank Statement </p>
                                               <label> <input type="file" name="bank-statement"> </label>
                                            </div>
                                            <div class="col-sm-6 margin-bottom-0">  
                                               <p><span class="far fa-id-card">&nbsp;&nbsp;</span>ID Proof </p>
                                               <label class="text-lowercase"><input type="file" name="ID"> </label>
                                            </div>
                                         </div>
                                         
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <div class="panel panel-default">
                                <div class="panel-heading box-shadow">
                                   <h4 class="panel-title">
                                      <a data-toggle="collapse" data-parent="#accordion1" href="#collapse2" class="collapsed font-size-16">
                                           <div>
                                               <span class="color-black ">Id: <span class="color-black">TWY63834802WD#</span></span>
                                               <span class="color-black float-right">Status: <span class="color-black">Confirmed</span></span>
                                            </div>
                                            <div class="padding-top-5">
                                                <span class="color-black ">Date: <span class="color-black">1 August, 2019</span></span>
                                               <span class="color-black float-right">Amount: <span class="color-black">$20,000</span></span>
                                            </div>
                                      </a>
                                   </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse collapse padding-0-30">
                           <div class="panel-body padding-bottom-5 ">
                                      <div class="col-sm-12 tab margin-top-0 padding-0 margin-bottom-0">
                                        
                                           
                                            <h4 class="col-sm-12 margin-bottom-0 font-size-18">Amount Details</h4>
                                            <div class="col-sm-4">
                                               <p><span class="fas fa-coins">&nbsp;&nbsp;</span>Total Amount </p>
                                               <label class="text-lowercase"><span class="fas fa-pound-sign"></span> 20,00,000 </label>
                                            </div>
                                            <div class="col-sm-4">
                                               <p><span class="fas fa-money-bill-wave">&nbsp;&nbsp;</span>Amount Payable </p>
                                               <label class="text-lowercase"><span class="fas fa-pound-sign"></span> 20,00,000 </label>
                                            </div>   
                                            <div class="col-sm-4">
                                               <p><span class="fas fa-sort-amount-up-alt">&nbsp;&nbsp;</span>Installment Amount </p>
                                               <label class="text-lowercase"><span class="fas fa-pound-sign"></span> 20,00,000 </label>
                                            </div>
                                             <h4 class="col-sm-12 margin-bottom-0 font-size-18 margin-top-0">Borrower Details</h4>
                                            <div class="col-sm-3">
                                               <p><span class="fas fa-signature">&nbsp;&nbsp;</span>Name </p>
                                               <label> John Doe </label>
                                            </div>   
                                            <div class="col-sm-5">   
                                               <p><span class="fas fa-envelope">&nbsp;&nbsp;</span>Email ID</p>
                                               <label class="text-lowercase"> raghav.vayuz@gmail.com </label>
                                            </div>
                                            <div class="col-sm-3">
                                               <p><span class="fas fa-phone-alt">&nbsp;&nbsp;</span>Phone No</p>
                                               <label>8265817818</label>
                                            </div>
                                            <h4 class="col-sm-12 margin-bottom-0 font-size-18 margin-top-0">Document Details</h4>
                                            <div class="col-sm-12 margin-bottom-0">
                                            <div class="col-sm-6 margin-bottom-0">
                                               <p><span class="fas fa-file-invoice-dollar">&nbsp;&nbsp;</span>Bank Statement </p>
                                               <label> <input type="file" name="bank-statement"> </label>
                                            </div>
                                            <div class="col-sm-6 margin-bottom-0">  
                                               <p><span class="far fa-id-card">&nbsp;&nbsp;</span>ID Proof </p>
                                               <label class="text-lowercase"><input type="file" name="ID"> </label>
                                            </div>
                                         </div>
                                         
                                      </div>
                                   </div>
                                </div>
                             </div>
                          </div>
                          
                       </div>
                       <div class="tab-pane fade" id="vertical-tab2">
                          <div class="panel-group" >
                             <div class="panel panel-default">
                                <div class="panel-heading box-shadow">
                                   <h4 class="panel-title">
                                      <a data-toggle="collapse" data-parent="#accordion3" href="#collapse3" class="collapsed font-size-16">
                                           <div>
                                               <span class="color-black ">Loan Id: <span class="color-black">TWY63834802WD#</span></span>
                                               <span class="color-black float-right">Status: <span class="color-black">Confirmed</span></span>
                                            </div>
                                            <div class="padding-top-5">
                                                <span class="color-black ">Loan Date: <span class="color-black">1 August, 2019</span></span>
                                               <span class="color-black float-right">Amount: <span class="color-black">$20,000</span></span>
                                            </div>
                                      </a>
                                   </h4>
                                </div>
                                <div id="collapse3" class="panel-collapse collapse in padding-0-30">
                                   <div class="panel-body padding-bottom-5 ">
                                      <div class="col-sm-12 tab margin-top-0 padding-0 margin-bottom-0">
                                        
                                           
                                            <h4 class="col-sm-12 margin-bottom-0 font-size-18">Amount Details</h4>
                                            <div class="col-sm-4">
                                               <p><span class="fas fa-coins">&nbsp;&nbsp;</span>Total Amount </p>
                                               <label class="text-lowercase"><span class="fas fa-pound-sign"></span> 20,00,000 </label>
                                            </div>
                                            <div class="col-sm-4">
                                               <p><span class="fas fa-money-bill-wave">&nbsp;&nbsp;</span>Amount Payable </p>
                                               <label class="text-lowercase"><span class="fas fa-pound-sign"></span> 20,00,000 </label>
                                            </div>   
                                            <div class="col-sm-4">
                                               <p><span class="fas fa-sort-amount-up-alt">&nbsp;&nbsp;</span>Installment Amount </p>
                                               <label class="text-lowercase"><span class="fas fa-pound-sign"></span> 20,00,000 </label>
                                            </div>
                                             <h4 class="col-sm-12 margin-bottom-0 font-size-18 margin-top-0">Borrower Details</h4>
                                            <div class="col-sm-3">
                                               <p><span class="fas fa-signature">&nbsp;&nbsp;</span>Name </p>
                                               <label> John Doe </label>
                                            </div>   
                                            <div class="col-sm-5">   
                                               <p><span class="fas fa-envelope">&nbsp;&nbsp;</span>Email ID :</p>
                                               <label class="text-lowercase"> raghav.vayuz@gmail.com </label>
                                            </div>
                                            <div class="col-sm-3">
                                               <p><span class="fas fa-phone-alt">&nbsp;&nbsp;</span>Phone No</p>
                                               <label>8265817818</label>
                                            </div>
                                            <h4 class="col-sm-12 margin-bottom-0 font-size-18 margin-top-0">Document Details</h4>
                                            <div class="col-sm-12 margin-bottom-0">
                                            <div class="col-sm-6 margin-bottom-0">
                                               <p><span class="fas fa-file-invoice-dollar">&nbsp;&nbsp;</span>Bank Statement </p>
                                               <label> <input type="file" name="bank-statement"> </label>
                                            </div>
                                            <div class="col-sm-6 margin-bottom-0">  
                                               <p><span class="far fa-id-card">&nbsp;&nbsp;</span>ID Proof </p>
                                               <label class="text-lowercase"><input type="file" name="ID"> </label>
                                            </div>
                                         </div>
                                         
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <div class="panel panel-default">
                                <div class="panel-heading box-shadow">
                                   <h4 class="panel-title">
                                      <a data-toggle="collapse" data-parent="#accordion4" href="#collapse4" class="collapsed font-size-16">
                                      
                                              <div>
                                               <span class="color-black ">Loan Id: <span class="color-black">TWY63834802WD#</span></span>
                                               <span class="color-black float-right">Status: <span class="color-black">Confirmed</span></span>
                                            </div>
                                            <div class="padding-top-5">
                                                <span class="color-black ">Loan Date: <span class="color-black">1 August, 2019</span></span>
                                               <span class="color-black float-right">Amount: <span class="color-black">$20,000</span></span>
                                            </div>
                                      </a>
                                   </h4>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse padding-0-30">
                                   <div class="panel-body padding-bottom-5 ">
                                      <div class="col-sm-12 tab margin-top-0 padding-0 margin-bottom-0">
                                        
                                           
                                            <h4 class="col-sm-12 margin-bottom-0 font-size-18">Amount Details</h4>
                                            <div class="col-sm-4">
                                               <p><span class="fas fa-coins">&nbsp;&nbsp;</span>Total Amount </p>
                                               <label class="text-lowercase"><span class="fas fa-pound-sign"></span> 20,00,000 </label>
                                            </div>
                                            <div class="col-sm-4">
                                               <p><span class="fas fa-money-bill-wave">&nbsp;&nbsp;</span>Amount Payable </p>
                                               <label class="text-lowercase"><span class="fas fa-pound-sign"></span> 20,00,000 </label>
                                            </div>   
                                            <div class="col-sm-4">
                                               <p><span class="fas fa-sort-amount-up-alt">&nbsp;&nbsp;</span>Installment Amount </p>
                                               <label class="text-lowercase"><span class="fas fa-pound-sign"></span> 20,00,000 </label>
                                            </div>
                                             <h4 class="col-sm-12 margin-bottom-0 font-size-18 margin-top-0">Borrower Details</h4>
                                            <div class="col-sm-3">
                                               <p><span class="fas fa-signature">&nbsp;&nbsp;</span>Name </p>
                                               <label> John Doe </label>
                                            </div>   
                                            <div class="col-sm-5">   
                                               <p><span class="fas fa-envelope">&nbsp;&nbsp;</span>Email ID :</p>
                                               <label class="text-lowercase"> raghav.vayuz@gmail.com </label>
                                            </div>
                                            <div class="col-sm-3">
                                               <p><span class="fas fa-phone-alt">&nbsp;&nbsp;</span>Phone No</p>
                                               <label>8265817818</label>
                                            </div>
                                            <h4 class="col-sm-12 margin-bottom-0 font-size-18 margin-top-0">Document Details</h4>
                                            <div class="col-sm-12 margin-bottom-0">
                                            <div class="col-sm-6 margin-bottom-0">
                                               <p><span class="fas fa-file-invoice-dollar">&nbsp;&nbsp;</span>Bank Statement </p>
                                               <label> <input type="file" name="bank-statement"> </label>
                                            </div>
                                            <div class="col-sm-6 margin-bottom-0">  
                                               <p><span class="far fa-id-card">&nbsp;&nbsp;</span>ID Proof </p>
                                               <label class="text-lowercase"><input type="file" name="ID"> </label>
                                            </div>
                                         </div>
                                         
                                      </div>
                                   </div>
                                </div>
                             </div>
                          </div>                     
                       </div>
                    </div>
                 </div>
              </div>
              </div>
        </section>
        <app-footersignin></app-footersignin>
        </div>
        <!-- eof #box_wrapper -->
     </div>
     <!-- eof #canvas -->
     
     
